@import "~compass-mixins/lib/compass";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

// html,
// body {
//   // height: 100%;
// }

body {
  margin: 0;
  background: #edece7;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

.width {
  width: 100%;
}

* {
  font-family: "Raleway", sans-serif;
}

@import "~angular-notifier/styles";

@import "~@angular/material/theming";
@include mat-core();

@mixin png-icon($sizeW: 24px) {
  margin: 5px auto auto;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
  width: $sizeW;
  height: auto;
}

mat-toolbar > div > .img {
  @include png-icon(35px);
  margin: 0px;
}

body.darkMode {
  background-color: #535353 !important;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  $theming-material-components-primary: mat-palette($mat-blue);
  $theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);
  $theming-material-components-theme: mat-dark-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
  );
  @include angular-material-theme($theming-material-components-theme);
}

body.lightMode {
  background-color: #edece7;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  $theming-material-components-primary: mat-palette($mat-blue, A200, A100, A900);
  $theming-material-components-accent: mat-palette($mat-pink, A200, A100, A900);
  $theming-material-components-warn: mat-palette($mat-red, A200, A100, A900);
  $theming-material-components-theme: mat-light-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
  );
  @include angular-material-theme($theming-material-components-theme);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.dialog-responsive {
  max-width: 40% !important;
}

@media only screen and (min-width: 761px) and (max-width: 1380px) {
  .dialog-responsive {
    max-width: 70% !important;
  }
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    max-width: 90% !important;
  }
}
