<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="width"
    fxFlex="10"
    fxFlex.xs="12"
  >
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img src="/assets/ewelink.png" alt="ewelink" class="img" />
        <span>EweLink Web Tool</span>
      </div>
      <div>
        <app-menu-info></app-menu-info>
        <!-- _________________ -->
        <button mat-button mat-icon-button [matMenuTriggerFor]="menu2">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="themeService.switchMode()">
            <mat-icon>{{
              themeService.isDarkMode ? themeEnum.lightIcon : themeEnum.darkIcon
            }}</mat-icon>
            <span>{{
              themeService.isDarkMode ? themeEnum.darkText : themeEnum.lightText
            }}</span>
          </button>
          <button mat-menu-item (click)="LogOut()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start" fxFlex class="width">
    <router-outlet></router-outlet>
  </div>
</div>
