<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="width"
    fxFlex="10"
    fxFlex.xs="12"
  >
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img src="/assets/ewelink.png" alt="ewelink" class="img" />
        <span>EweLink Web Tool</span>
      </div>
      <div>
        <button mat-button mat-icon-button  [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="github"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>folder</mat-icon>
            <span>App Repository</span>
          </button>
          <button href="" mat-menu-item>
            <mat-icon svgIcon="github"></mat-icon>
            <span>Rober19</span>
          </button>
          <button mat-menu-item href="">
            <mat-icon svgIcon="github"></mat-icon>
            <span>DevelopGadget</span>
          </button>
        </mat-menu>
        <!-- _________________ -->
        <button mat-button mat-icon-button [matMenuTriggerFor]="menu2">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="themeService.switchMode()">
            <mat-icon>{{
              themeService.isDarkMode ? "wb_sunny" : "brightness_2"
            }}</mat-icon>
            <span>{{
              themeService.isDarkMode ? "Light Mode" : "Dark Mode"
            }}</span>
          </button>
          <button mat-menu-item (click)="LogOut()"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Sigh Out</span>
          </button>
        </mat-menu>
        <!-- <button mat-icon-button (click)="themeService.switchMode()">
          <mat-icon>{{
            themeService.isDarkMode ? "wb_sunny" : "brightness_2"
          }}</mat-icon>
        </button>
        <button mat-icon-button (click)="LogOut()">
          <mat-icon>power_settings_new</mat-icon>
        </button> -->
      </div>
    </mat-toolbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start" fxFlex class="width">
    <router-outlet></router-outlet>
  </div>
</div>
