$type-colors: (
  string: #ff2600ce,
  number: #06d4c0,
  boolean: #ff00d4,
  date: #0597d1,
  array: #999,
  object: #999,
  function: #999,
  "null": #fff,
  undefined: #fff,
);

.darkJson {
  @each $type, $color in $type-colors {
    ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
      color: $color !important;
    }
    ::ng-deep .segment-type-#{$type} > .segment-main > .segment-key {
      color: #2196f3 !important;
    }
  }
}

.not-display {
  display: none;
}

.preClass.darkJson {
  ::ng-deep .json-key {
    color: #2196f3;
  }
  ::ng-deep .json-string {
    color: #FF6B6B;
  }
  ::ng-deep .json-number {
    color: #009688;
  }
  ::ng-deep .json-boolean {
    color: #b938a4;
  }
  ::ng-deep .json-null {
    color: #fff;
  }
  ::ng-deep a.json-link {
    color: #FF6B6B;
    transition: all 400ms;
  }
  ::ng-deep a.json-link:visited {
    color: #FF6B6B
  }
  ::ng-deep a.json-link:hover {
    color: #c75555;
  }
  ::ng-deep a.json-link:active {
    color: slategray;
  }
}

.preClass {
  ::ng-deep .json-key {
    color: #4E187C;
  }
  ::ng-deep .json-string {
    color: #ff2600ce;
  }
  ::ng-deep .json-number {
    color: #06d4c0;
  }
  ::ng-deep .json-boolean {
    color: #ff00d4;
  }
  ::ng-deep .json-null {
    color: #fff;
  }
  ::ng-deep a.json-link {
    color: #ff2600ce;
    transition: all 400ms;
  }
  ::ng-deep a.json-link:visited {
    color: #ff2600ce;
  }
  ::ng-deep a.json-link:hover {
    color: #ff5e42ce;
  }
  ::ng-deep a.json-link:active {
    color: slategray;
  }
}
