<h2 mat-dialog-title>
  JSON Viewer
  <button mat-button (click)="changeExpanded()" *ngIf="isJsonWithExpanded">
    <mat-icon>{{expandedIcon}}</mat-icon>
    {{expandedText}}
  </button>
</h2>

<mat-dialog-content>
  <pre class="preClass" #jsonPretty></pre>
  <!-- <ngx-json-viewer *ngIf="isJsonWithExpanded" [class]="colorClass" [expanded]="isExpanded" [json]="deviceInfo"></ngx-json-viewer> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-button (click)="changeView()">
    <mat-icon>code</mat-icon>
    Change view
  </button>
</mat-dialog-actions>
