<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="start start" class="width" fxFlex="10" fxFlex.lt-sm="12">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img src="/assets/ewelink.png" alt="ewelink" class="img">
        <span>EweLink Web Tool</span>
      </div>
      <div >
        <app-menu-info></app-menu-info>
        <button mat-button (click)="themeService.switchMode()" >
          <mat-icon>{{themeService.isDarkMode ? themeEnum.lightIcon : themeEnum.darkIcon}}</mat-icon>
          {{themeService.isDarkMode ? themeEnum.darkText : themeEnum.lightText}}
        </button>
      </div>
    </mat-toolbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start" fxFlex class="width">
    <mat-card fxFlex="25" fxFlex.lt-sm="90" fxFlex.sm="45" class="mat-elevation-z4 animate__animated animate__fadeInLeft">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p fxLayoutAlign="center start" style="font-size: 10px;">( Ewelink credentials )</p>
        <form id="myform" (ngSubmit)="LoginApp()" [formGroup]="formLogin" fxLayout="column"
          fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit" form="myform" [disabled]="isLoading">Login</button>
        <mat-spinner [diameter]="20" [fxHide]="!isLoading"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
