<mat-card class="mat-elevation-z4">

  <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card-title>
      <mat-icon svgIcon="switch_device" inline="true"></mat-icon>
    </mat-card-title>
    <div class="device">
      <input
        class="checkbox"
        type="checkbox"
        name="switch"
        [id]="device.deviceid"
        [formControl]="checkControl"
      />
      <label class="switch" [for]="device.deviceid"></label>
    </div>
  </mat-card-header>

  <mat-card-content>
    <b style="font-size: 18px;">{{device.name}}</b>
    <p>{{device.deviceid}}</p>
  </mat-card-content>

  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon [svgIcon]="iconState" inline="true" class="iconOn pointer" (click)="changeManully()"></mat-icon>
    <p (click)="changeManully()" class="pointer">{{labelState}}</p>
  </mat-card-actions>

</mat-card>
