@import "../../styles.scss";

mat-card-title > .img {
  @include png-icon(70%);
}

.darkModeContrast {
  filter: contrast(100);
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.iconOn {
  @include md-icon-size(32px);
  cursor: pointer;
}

.mat-card {
  border-radius: 10px;
  z-index: 1;
}

.device {
  padding: 10px;
}

.no-click {
  pointer-events: none; 
}

.it-click {
  // pointer-events: fill; 
  cursor: pointer;
}

.no-click-switch {
  pointer-events: none;
  opacity: 0.2;
}

.switch {
  display: block;
  position: relative;
 	width: 55px;
  height: 80px;
  border-radius: 50px;

  background: #dae5e6;
  background: linear-gradient(#fdfbf6, rgb(245, 223, 223));
  border: 1px solid rgba(0,0,0,0.1);

  box-shadow:
    inset 0 7px 0 #fdfdfd,
    0 2px 3px rgba(170, 160, 140,.3);

  cursor: pointer;
}

.switch:before {
 	content: "";
  position: absolute;
  top: -10px; bottom: -10px;
  left: -5px; right: -5px;
  z-index: -1;

  background: #f2f1ed;
  border-radius: inherit;

  box-shadow:
    0 1px 1px rgba(#8aa7be,0.2),
    0 3px 3px rgba(158, 142, 111, 0.4),
    inset 0 1px 0 rgba(255,255,255,0.8),
    0 0 5px rgba(170, 160, 140, 0.5);
}

.switch:after {
 	content: "";
  position:absolute;
  width: 55px;
  height: 80px;
  border-radius: 50%;
  z-index: -1;
  left: 5px;
  top: 5px;
  background: linear-gradient(160deg, rgba(170, 160, 140, 0.7), rgba(170, 160, 140, 0));
  background: -webkit-linear-gradient(290deg, rgba(170, 160, 140, 0.75), rgba(170, 160, 140, 0));

  -webkit-filter: blur(1px);
}

.checkbox {
 	clip: rect(0 0 0 0);
  position: absolute;
  visibility: hidden;
  width: 55px;
  height: 80px;
}

.checkbox:checked ~ .switch {
  background: linear-gradient(#daeefd, rgb(255, 255, 255));
  box-shadow:
    inset 0 -5px 0 #dbd3c8,
    0 6px 5px rgba(170, 160, 140, 0.75),
    3px 16px 5px rgba(170,160,140, 0.3);
  border-bottom: none;
}

.checkbox:checked ~ .switch:after {
  display: none;
}

.pointer {
  cursor: pointer;
}
